body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

#iniciar_button {
  padding: 0.1em 0.8em;
}

#search-bar {
  padding-top: 0.2em;
}

footer h2 {
  font-size: 1.3em;
}

#anime-table a:visited {
  color: #9d21a8;
}

#listaReseñas a:visited {
  color: #9d21a8;
}

#breadcrumb a:visited {
  color: #9d21a8;
}

#table-container a:visited {
  color: #9d21a8;
}