body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

#iniciar_button {
  padding: 0.1em 0.8em;
}

#search-bar {
  padding-top: 0.2em;
}

.links {
  font-size: 1.3vw;
}